%title= title
%script{type: 'text/javascript', src: '//code.jquery.com/jquery-1.11.3.min.js'}
:css
    nav {
      width: 100%;
      background: #aaa;
    }
    .recipe {
      float: left;
    }
    .recipe_sidebar {
      width: 200px;
      float: right;
    }
